/* Цвета
Белый: #fff
Полупрозрачный белый: #d7ccc0
Светлый: #f5f4f0
Основной: #fe8a02
Основной тёмный: #42413c
Тёмный: #2a2626
Полупрозрачный тёмный: #908d8b
Коричневый: #b09a81
Синий: #1085c5

Шрифты
В качестве основного шрифта используется Open Sans
Для заголовков используется шрифт Neucha
Размер шрифта: 16px
Межстрочный интервал: 1.6em
Цвет шрифта: #2A2626

Заголовки
Межстрочный интервал заголовков: 1.2em
Размер заголовка первого уровня: 72px
Размер заголовка второго уровня: 60px
Размер заголовка третьего уровня: 34px

Секции
Ограничение по ширине контента: 1110px
Выравнивание по центру
Отступы по 100 пикселей сверху и снизу */

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 72px;
}

body {
    display: block;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header::before {
    position: absolute;
    content: " ";
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    color: #F5F4F0;
    background-image: url("../images/background.png");;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-main-section {
    padding-top: 100px;
    position: relative;
    width: 1110px;
    margin: 0 auto;
}

.header-main-section > h1 {
    position: relative;
    font-family: Neucha, sans-serif;
    font-weight: 400;
    color: #2A2626;
    z-index: 200;
}

.h-text {
    color: #FE8A02;
}

.header-img {
    position: absolute;
    z-index: 100;
    top: 55px;
    right: -270px;
    height: 525px;
}

.under-header-text {
    display: block;
    margin: 0 auto;
    flex-direction: row;
    display: flex;
    margin-top: 185px;
    margin-bottom: 100px;
}

.left-text, .right-text {
    width: 540px;
}

.left-text, .right-text > p {
    font-family: OpenSans-Regular, sans-serif;
    color: #2A2626;
    text-align: left;
    line-height: 25.6px;
}

.left-text {
    height: 141px;
    margin-right: 30px;
}

.right-text {
    height: 186px;
}

.link-button {
    width: 148px;
    height: 49px;
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    margin-top: 40px;
    font-family: OpenSans-Bold, sans-serif;
    color: #FFF;
    background-color: #FE8A02;
}

.link-button:hover {
    width: 148px;
    height: 49px;
    display: block;
    text-decoration: none;
    padding: 12px 24px;
    margin-top: 40px;
    font-family: OpenSans-Bold, sans-serif;
    color: #FFF;
    background-color: #EA7600;
}

.video-section {
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF;
    z-index: 100;
    
}

.under-video-bg {
    background-color: #42413C;
    position: absolute;
    top: 825px;
    width: 100%;
    height: 100px;
    z-index: -200;
}

.video-section > h1 {
    font-family: Neucha;
    font-weight: 400;
}

.video-section > p {
    margin-top: 27px;
    display: block;
    font-family: OpenSans-Regular, sans-serif;
    line-height: 10px;
    font-size: 16px;
    
}

.text-orange {
    color: #FE8A02;
}

.video {
    position: relative;
    z-index: 100;
    margin-top: 30px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    margin: 0 auto;
}

.navigation {
    padding: 100px 0;
    background-color: #42413C;
    margin: 0 auto;
}

.main-nav {
    width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex-basis: 350px;
    margin-bottom: 20px;
}

.nav-about {
    font-size: 52px;
    font-family: Neucha;
    line-height: 1.2em;
    color: #FFF;
}

.nav-section {
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #000 !important;
    text-decoration: none
}

.nav-section > h1 {
    font-family: Neucha, sans-serif;
    font-size: 64px;
    padding-bottom: 40px;
    line-height: 1.2em;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.nav-section > h2 {
    font-family: Neucha, sans-serif;
    font-size: 34px;
    line-height: 1.2em;
    color: #FE8A02;
    font-weight: 400;
    justify-content: center;
    align-items: center;
}

.nav-section > p {
    justify-content: center;
    align-items: center;
    font-family: OpenSans-Regular;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.6em;
}

.bg-color {
    background-color: #F5F4F0;
}

.effect-ikea {
    z-index: 200;
    width: 1110px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.effect-ikea-bg {
    position: relative;
}

.effect-ikea-bg::before {
    position: absolute;
    content: " ";
    opacity: 0.1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    color: #F5F4F0;
    background-image: url("../images/background.png");;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-effect-ikea {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

.effect-ikea-about > h1 {
    font-size: 24px;
    font-weight: 400;
    font-family: Neucha, sans-serif;
    line-height: 28.8px;
    color: #908D8B;
}

.effect-ikea-about > h2 {
    font-size: 60px;
    font-weight: 400;
    font-family: Neucha, sans-serif;
    line-height: 72px;
    padding-bottom: 30px;
}

.effect-ikea-about > p {
    font-size: 34px;
    font-weight: 400;
    font-family: Neucha, sans-serif;
    line-height: 40.8px;
}

.effect-ikea-img {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
    padding-right: 30px;
}

.effect-ikea-how {
    font-size: 14px;
    font-family: OpenSans-Bold;
    background-color: #B09A81;
    color: #FFF;
    padding: 5px 10px;
    line-height: 16.8px;
    font-weight: 700px;
}

.text-effect-ikea {
    display: flex;
    font-size: 16px;
    font-family: OpenSans-Regular;
    font-weight: 400;
    line-height: 25.6px;
    margin-bottom: 100px;
}

.left-text-ikea, .right-text-ikea {
    width: 540px;
}

.left-text-ikea {
    margin-right: 30px;
}

@font-face {
    font-family: Neucha;
    src: url('../font/Neucha-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Regular;
    src: url('../font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSans-Bold;
    src: url("../font/OpenSans-Bold.ttf");
}
